
.tab-customize .react-tabs__tab-list{
    border-bottom: 0px solid #aaa;
}
.tab-customize .react-tabs__tab--selected {
     border-color: rgba(170, 170, 170, 0);
     border-radius: 0px; 
     background: rgba(255, 255, 255, 0);
}
.customize-tab-button:hover{
    color: rgb(237, 58, 178);
}
.customize-tab-button:active{
    color: rgb(237, 58, 178);
}
.tab-customize .react-tabs__tab-list li{
    font-size: 18px;
    font-weight: 600;
    transition: all .3s;
}
.tab-customize .react-tabs__tab-list li:hover{
    color: rgb(237, 58, 178);
}
.tab-customize .react-tabs__tab-list li:focus{
    color: rgb(237, 58, 178);
}