/* Customize Carousel Dots */
.slick-dots {
    display: flex;
    justify-content: center;
    list-style-type: none;
    bottom: -30px !important;
}

.slick-dots li {
    margin: 0 0.25rem;
}

.slick-dots li button {
    width: 5px !important;
    height: 5px !important;
    padding: 0;
    border-radius: 100%;
    border: 5px solid lightgray !important;
    text-indent: -9999px;
    transition: all .4s;
}

.slick-dots li.slick-active button {
    border: 5px solid #3b82f6 !important;
    transform: scale(1.2);
}