.loading-wrapper {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: grid;
    place-items: center;
    background: white;
    z-index: 99999;
}

.loading-circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: conic-gradient(#3b82f6, transparent, transparent, transparent, transparent);
    position: relative;
    display: grid;
    place-items: center;
    animation: loader 0.7s linear infinite;
}

.loading-circle::before,
.loading-circle::after {
    content: '';
    position: absolute;
}

.loading-circle::before {
    width: 80%;
    height: 80%;
    border-radius: 50%;
    background: white;
}

.loading-circle::after {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 9px;
    height: 9px;
    background: #3b82f6;
    border-radius: 50%;
}

@keyframes loader {
    0% {
        transform: rotate(0);
        background: conic-gradient(#3b82f6, transparent, transparent, transparent, transparent);
    }

    50% {
        background: conic-gradient(#3049d6, transparent, transparent);
    }

    100% {
        transform: rotate(-360deg);
        /* background: conic-gradient(#480ca8, transparent, transparent); */
        background: conic-gradient(#3813be, transparent, transparent);
    }
}