.impactfull-card{
  border: 1px solid transparent;
  border-image: linear-gradient(to top, #ED3AB2 0%, #952DDE 100%);
  border-image-slice: 1 ;
  background-color: transparent ;
  backdrop-filter: blur(10px);
  padding: 25px;
}


